* {
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

nav li{
    display: inline-block;
    padding: 8px;
    background-color: rgb(253, 238, 222)
}

nav a{
    text-decoration: none;
}

#headercaption{
    font-variant: small-caps;
    font-weight: lighter;
}

#homelinks{
    font-weight: normal;
}

#subheading{
    font-style: italic
}

#pagetitle{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

div p{
    font-style: italic
}

h3{
    font-weight: bold;
    font-size: 2em;
}

li{
    margin: 5px
}