* {
    font-family: Open Sans, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
    color: black;
    text-decoration: none;
}

a.more:hover{
    color: white;
}

.skip {
    position: absolute;
    top: 1000px;
    left: -1000px;
    height: 3px;
    width: 8px;
    text-align: center;
    overflow: hidden;
    background-color: rgb(59, 14, 102);
    color: white;
    font-size: 18px;
}

a.skip:active, 
a.skip:focus, 
a.skip:hover {
    left: 0; 
    top: 0;
    width: auto; 
    height: auto; 
    overflow: visible; 
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }

.flex-container > div {
    background-color: rgba(253, 235, 177, 0.123);
    width: 400px;
    height: 100 px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 20px;
    font-weight: bold;
  }

.flex-container > div > a{
    /* background-color: #f1f1f1; */
    width: 400px;
    height: 100 px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 20px;
  }

  .flex-container2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }

.flex-container2 > div {
    background-color: white;
    width: 200px;
    height: 30 px;
    margin: 10px;
    text-align: center;
    /* line-height: 75px; */
    font-size: 20px;
    font-weight: bold;
  }

.imgbox {
    display: grid;
    height: 100%;
}
.center-fit {
    max-width: 100%;
    max-height: 100vh;
    margin: auto;
}

.header-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo {
  font-size: 32px;
  font-weight: 100;
  letter-spacing: .5px;
  line-height: 44px;
  padding: 40px 0 22px 0;
  margin-left: 5%
}

nav{
    margin: 3em 0 0 5%;
}

nav li{
    display: inline-block;
    padding: 8px;
    background-color: rgb(253, 243, 232);
    width: 40%;
    text-align: center;
}

.current1 {
    background-color: rgb(70, 17, 105);
}

.current2 {
    color: white;
    font-weight: bold;
}

nav a{
    text-decoration: none;
}

#headercaption{
    font-variant: small-caps;
    font-weight: lighter;
    text-align: center;
}

/* #homelinks{
    font-weight: normal;
} */

#subheading{
    font-style: italic
}

#pagetitle{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.btn-font {
    font-weight: normal;
    text-align: center;
}

.btn {
  border-radius: 10px;
  margin: 0;
}
.btn-alt {
  padding: 10px;
  background-color: #fbfdff;
}

.testclass {
    background-image: url("../images/background_img.jpg");
    background-size: 100%;
}

/* Project Pages */
div p{
    font-style: italic
}

h3{
    font-weight: bold;
    font-size: 2em;
}

li{
    margin: 5px
}

#resume_text {
    text-align: center;
}

.footer {
    text-align: center;
}

#more {display: none;}



    /* The progress container (grey background) */
  .progress-container {
    width: 100%;
    height: 8px;
    background: #ccc;
    z-index: 1;
    top:0;
    position: fixed;
  }
  
  /* The progress bar (scroll indicator) */
  .progress-bar {
    height: 8px;
    background: #c24fcc;
    width: 0%;
  }

  /* Style the button that is used to open and close the collapsible content */
.collapsible {
    background-color: rgb(255, 247, 255);
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    border: 1px solid purple;
    border-radius: 12 px;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .collapsible:hover {
    background-color: rgb(68, 6, 68);
    color: white;
  }
  
  /* Style the collapsible content. Note: hidden by default */
  .content {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
.collapsible:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 18px;
    color: white;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
    font-size: 18px;
    color: white;
}

/* Slideshow container */
.slideshow-container {
    position: relative;
    background: lightyellow;
  }
  
  /* Slides */
  .mySlides {
    display: none;
    padding: 60px;
    text-align: center;
    color: black;
    font-size: 36 px;
    font-weight: bold;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    color: black;
    font-weight: bold;
    font-size: 24px;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    position: absolute;
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
    color: black;
  }

  /* Add an italic font style to all quotes */
  q {font-style: italic;}
  
  /* Add a blue color to the author */
  .author {
        color: black;
        font-weight: bold;
        font-size: 24 px;
}

/* ################ */
@media only screen and (min-width: 200px) {
    .logo {
        font-size: 10px;
        display: block;
    }
    /* .flex-container{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-around;
        flex: 1;
    } */
    nav li{
        display: block;
        /* background-color: blue; */
    }
    #headercaption {
        visibility: hidden;
    }
}

@media only screen and (min-width: 700px) {
    .logo {
        font-size: 20px;
        display: block;
    }
    /* .flex-container{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-around;
        flex: 1;
    } */
    nav li{
        display: block;
        /* background-color: yellow; */
    }
    #headercaption {
        visibility: hidden;
    }
}


@media only screen and (min-width: 1000px) {
    .logo {
        font-size: 50px;
        display: block;
    }
    nav li{
        display: inline-block;
        /* background-color: green; */
    }
    .header-container{
        display: block;
        flex-direction: row;
        justify-content: space-between;
    }
    .flex-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex: 1;
    }
    #headercaption {
    visibility: visible;
    }
}

@media (hover: hover) {
  .btn:hover {
    background: orangered;
    font-weight: bold;
    /* text-transform: uppercase; */
    color: white;
  }
  .a {
      color: white;
  }
}